*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    min-width: 340px;

}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 6vh;
    width: 100%;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    text-align:center;
}



#welcome-section{

    position: 0 0 0 0 ;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top:0;
    font-size: 5rem;
    color: azure;
    height: 100vh;
    background: black;
    align-items: center;
    font-family: jura;
    min-width: 340px;
}
@media (max-width:640px) {
    #welcome-section{
font-size: 2rem;    }

        
}

#background-img{
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}
#about-me{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    text-align: justify;
    margin: auto;
    padding-top: 25vh;
    
}
#about-me-text{
    font-size: 2.5em;
    font-family: jura;
    
    color: rgba(2, 2, 2, 0.932);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5%;
    background-color: rgba(122, 122, 122, 0.39);
    background-size: 200px;
}
@media screen and (max-width:640px){
    #about-me-text {
        font-size: 1rem;
    }

    #projects {
        flex-direction: column;
       
        align-items: center;
    }
  
}
@media screen and (max-height:440px){
    #about-me-text {
        font-size: 1rem;
        height:50vh;
    }
}
h1{
    text-align: center;
    font-family: monospace;
}

#projects{
    display: flex;
    position: relative;
    text-align: center;
    height:fit-content;
    justify-content: space-evenly;
    background-color: rgba(122, 122, 122, 0.39);
    padding-top: 1vh;
    padding-bottom: 20vh;
    margin-bottom: 5%;
    


}
img{
    width: 20vw;
    height:30vh;
}
#projects-section {
    padding-top: 10vh;
    background-color: rgba(122, 122, 122, 0.39);


}
.project-tile {
   
    position: relative;
    width: 20vw;
    height: 25vh;
    font-size: 1rem;
    margin-top: 2%;

    
}
#git-icon{
    width: 2rem;
    height: 2rem;
    z-index: 1;
    background-color: rgb(255, 249, 249);

}
#form {
justify-content: center;
position: relative;
width: 50vw;
height: 50vh;
padding-top: 20vh;
padding-bottom: 10vh;
margin: 0 auto;
text-align: center;
font-family: jura;

}
input {
    position: relative;
    display: block;;
    margin:0 auto;  
}
legend{
    text-align: center;
}
#fill-text {
    padding: 2%;
}
